.head {
  text-align: left;
  border-bottom: 1px solid green;
}

.banner {
<<<<<<< HEAD
  background-color: #FFFFF;
=======
  background-color: #fafafa;
>>>>>>> c020a038604a34f2c29b7b14e6a21d2460be2441
}

.banner-head {
  text-align: center;
  font-family: lucida grande;

}

.function {
  font-family: monospace;
  background-color: #e2e2e2;
  color: black;
  line-height: 1.3em;
  font-weight: bold;
  padding: 0.3em 0.3em;
}

.tips {
  padding-bottom: 1em;
  border-bottom: 1px solid green;
}

.hint {
  padding-top: 0.5em;
}

.exercise {
  margin-top: 3em;
  padding: 2em;
  background-color: #fafafa;
  border-radius: 1.5em;
}

.question {
  padding-bottom: 0.5em;
}
