.head {
  text-align: left;
  border-bottom: 1px solid green;
}


.banner {
  background-color: #fafafa;
}

.banner-head {
  text-align: center;
  font-family: lucida grande;

}

.function {
  color: #5DCD00;
}

.tips {
  padding-bottom: 1em;
  border-bottom: 1px solid green;
}

.hint {
  padding-top: 0.5em;
}

.exercise {
  margin-top: 3em;
  padding: 2em;
  background-color: #fafafa;
  border-radius: 1.5em;
}

.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
